.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

legend {
    padding: 5px;
    color: #ffffff;
    justify-self: end;
}

.form__input, .form__select {
    padding: 5px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    width: 180px;
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__button {
    padding: 5px;
    background-color: #ffb000;
    border: none;
    border-radius: 5px;
    grid-column: 1 / span 2;
    transition: 1s;
}

.form__button:hover {
    background-color: #ffee8c;
    transform: scale(1.05);
}

.form__button:active {
    color: #ffb000;
    background-color: #ffffff;
    transform: scale(1.03);
    transition: 0.2s;
}

@media (max-width: 767px) {
    .form__button {
        transition: none;
    }

    .form__button:hover {
        background-color: #ffb000;
        transform: none;
    }

    .form__button:active {
        color: #000000;
    }
}